<div class="torrent-preview">
    <div ng-show="!error && !loadingGlob">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            <span ng-if="torrent.guessedTitle">
                {{ torrent.title ? torrent.title : torrent.guessedTitle }}
                <span ng-if="torrent.guessedEpisode || torrent.guessedSeason">
                    &nbsp;-&nbsp;
                    <span ng-if="torrent.guessedSeason">S<digits-display number="torrent.guessedSeason" length="2"></digits-display></span>
                    <span ng-if="torrent.guessedEpisode">E<digits-display number="torrent.guessedEpisode" length="2"></digits-display></span>
                </span>
                <span class="text-lighter small-text">&nbsp;-&nbsp;{{ torrent.name }}</span>
            </span>
            <span ng-if="!torrent.guessedTitle">{{ torrent.name }}</span>
          </h1>
        </section>
        <section class="content-header">
            <div ng-hide="streamFileId" ng-animate class="box box-solid torrent detail-widget transition nomargin" torrent-display="torrent"></div>
            <div ng-hide="!streamFileId" ng-animate class="detached-video-cont transition">
                <detached-video-player enabled="playing.torrent.id == torrent.id"></detached-video-player>
            </div>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-3">
                    <div class="box box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">{{ 'ACTIONS' | translate }}</h3>
                        </div>
                        <div class="box-body no-padding">
                            <ul class="nav nav-pills nav-stacked">
                                <li ng-class="{'active': (routeParams.page == 'preview')}" ng-if="torrent.runtime || torrent.genre || torrent.year || torrent.synopsis">
                                    <a ng-href="#/torrent/{{ torrent.hash }}/preview/{{ streamFileId }}"><i class="fa fa-info-circle"></i> {{ 'INFORMATIONS' | translate }}</a>
                                </li>
                                <li ng-class="{'active': (routeParams.page == 'trailer')}" ng-if="torrent.trailer">
                                    <a ng-href="#/torrent/{{ torrent.hash }}/trailer/{{ streamFileId }}"><i class="fa fa-youtube-play"></i> {{ 'TRAILER'|translate }}</a>
                                </li>
                                <li ng-class="{'active': (routeParams.page == 'streaming')}" ng-show="torrent.transcodableState == 8">
                                    <a ng-href="#/torrent/{{ torrent.hash }}/streaming/{{ streamFileId }}"><i class="fa fa-play"></i> {{ 'STREAMING' | translate }}</a>
                                </li>
                                <li ng-class="{'active': (routeParams.page == 'files')}">
                                    <a ng-href="#/torrent/{{ torrent.hash }}/files/{{ streamFileId }}"><i class="fa fa-download"></i> {{ 'DOWNLOAD'|translate }}</a>
                                </li>
                                <li ng-class="{'active': (routeParams.page == 'trackers') }">
                                    <a ng-href="#/torrent/{{ torrent.hash }}/trackers/{{ streamFileId }}"><i class="fa fa-share-alt"></i> {{ 'TRACKERS'|translate }}</a>
                                </li>
                                <li ng-class="{'active': (routeParams.page == 'tag') }" ng-show="user.is(roles.TAGGER) || user.id == torrent.userId">
                                    <a ng-href="#/torrent/{{ torrent.hash }}/tag/{{ streamFileId }}"><i class="fa fa-tag"></i> {{ 'CHANGE_TAG'|translate }}</a>
                                </li>
                            </ul>
                        </div><!-- /.box-body -->
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="box box-primary" ng-include="'/app/views/torrent/' + routeParams.page + '.html'"></div>
                </div>
            </div>
        </section>
    </div>    

    <div class="row" ng-show="error">
        <div class="col-xs-6 col-xs-offset-3 alert alert-danger alert-dismissable err-margin">
            <h4>{{ 'ERROR' | translate }}</h4>
            <p>{{ error | translate }}</p>
            <p class="text-center"><button class="btn btn-default" type="button" onclick="window.history.back()"><i class="fa fa-arrow-circle-left"></i>&nbsp;{{ 'BACK'|translate }}</button></p>
        </div>
        <div class="clearfix"></div>
    </div>
    
    <div class="row" ng-show="loadingGlob">
        <div class="col-xs-6 col-xs-offset-3">
            <div class="box box-default err-margin">
                <div class="box-header with-border">
                  <h3 class="box-title">{{ 'LOADING' | translate }}</h3>
                </div>
                <div class="box-body">
                    {{ 'RETRIEVING_DATA' | translate }}
                </div>
            </div>
        </div>
    </div>
</div>
