<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">{{ 'INFORMATIONS' | translate }}</h3>
    </div>
    <div class="box-body">
        <div class="row">
            <div ng-class="{ 'col-md-12': !torrent.poster, 'col-md-8': torrent.poster }">
                <table class="table table-striped">
                    <tr ng-if="torrent.runtime">
                        <td>
                            {{ 'RUNTIME' | translate }}
                        </td>
                        <td>
                            <time-display time="torrent.runtime" type="normal"></time-display>
                        </td>
                    </tr>
                    <tr ng-if="torrent.screenSize">
                        <td>{{ 'QUALITY' | translate }}</td>
                        <td>{{ torrent.screenSize }}</td>
                    </tr>
                    <tr ng-if="torrent.genre">
                        <td>{{ 'GENRE' | translate }}</td>
                        <td>{{ torrent.genre }}</td>
                    </tr>
                    <tr ng-if="torrent.year">
                        <td>{{ 'YEAR'|translate }}</td>
                        <td>{{ torrent.year }}</td>
                    </tr>
                    <tr ng-if="torrent.synopsis">
                        <td>{{ 'SYNOPSIS'|translate }}</td>
                        <td ng-bind-html="raw(torrent.synopsis)"></td>
                    </tr>
                </table> 
            </div>

            <div ng-if="torrent.poster" class="col-md-4">
                <img ng-src="{{ torrent.poster }}" class="allwidth" />
            </div>
        </div>
    </div>
</div>