<div ng-controller="FilesController" ng-init="movies = true" class="stream-box">
    <div class="box-header with-border">
        <h3 class="box-title">{{ 'STREAMING' | translate }}</h3>
        <div class="box-tools pull-right">
            <div class="has-feedback">
                <input type="text" ng-model="filesSearch.keywords" class="form-control input-sm" placeholder="{{ 'SEARCH'|translate }}">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
        </div>
    </div>
    <div class="box-body">
        <files-display items="streamFiles.out" movies="true" class="first"></files-display>
    </div>
</div>