
<div ng-repeat="(key, item) in items track by item.$$time" class="torrent-files">
    <!-- directories -->
    <div ng-if="key.substr(0,2) != '__'">
        <i class="fa fa-folder-open"></i>&nbsp;{{ key }}
        <div ng-if="!item['$$empty']" ng-include="'/app/views/directives/files.html'" ng-init="items = item"></div>
    </div>
    <!-- files -->
    <div ng-if="key.substr(0,2) == '__'" ng-repeat="file in item | filter:filesSearch:filesComparator">
        
        <a ng-if="file.raw.bytesCompleted == file.raw.length" href="#"><i class="fa" ng-class="extensionToCss(file.extension)"></i>&nbsp;{{ file.filename }}</a>
        <span ng-if="file.raw.bytesCompleted != file.raw.length"><i class="fa" ng-class="extensionToCss(file.extension)"></i>&nbsp;{{ file.filename }}</span>
        
        <div class="progress xxs">
            <div class="progress-bar progress-bar-aqua" progress-done="file.raw.bytesCompleted" progress-total="file.raw.length" progress-width></div>
        </div>
    </div>
</div>