<div ng-if="file.raw.bytesCompleted == file.raw.length" class="completed">
    <a ng-href="{{ ::getLink(file.raw, file.filename) }}">
        <i class="fa" ng-class="extensionToCss(file.extension)"></i>&nbsp;{{ file.filename }}
        <unit-display class="pull-right" size="file.raw.length" suffix=""></unit-display>
    </a>
    <span ng-init="cStreamFile = findStreamFileByName(file.raw.name)" ng-if="cStreamFile">
        <a ng-href="{{ ::getStreamLink(cStreamFile.id, file.filename, quality) }}" ng-repeat="quality in cStreamFile.qualities" class="quality-btn btn btn-xs btn-info">
            <i class="fa fa-download"></i>&nbsp;{{ quality }}
        </a>
    </span>
</div>

<div ng-if="file.raw.byteCompleted && file.raw.bytesCompleted != file.raw.length">
    <i class="fa" ng-class="extensionToCss(file.extension)"></i>&nbsp;{{ file.filename }}
    <unit-display class="pull-right" size="file.raw.length" suffix=""></unit-display>
    <div class="progress xxs">
        <div class="progress-bar progress-bar-aqua" progress-done="file.raw.bytesCompleted" progress-total="file.raw.length" progress-width></div>
    </div>
</div>