ul {
    margin-bottom: 0px;   
}
.allwidth { width: 100%; }

.layout-boxed {
    background: #EAF0F4 !important;
}

[translate-cloak], [ng-cloak] {
    display: none;
}

.progress-bar {
    -webkit-transition: none;
    transition: none;
    -moz-transition: none;
}


.torrent-uploads .box-body {
    min-height: 100px;
}

.torrents-up-status {    
    border-width: 1px 1px 1px 5px;
    border-color: #eee;
    border-style: solid;    
}

.torrents-up-status .close-topright {
    position: relative;
    top: -18px;
    right: -7px;
}

.torrents-up-status .box-cancel {
    height: 0px;
    width: 0px;
    overflow: visible;
}

.torrent.nomargin { margin-bottom: 0px; }


.torrent {
    min-height: 111px !important;

    .torrent-widget:hover {
        background-color: #f5f5f5;
    }
    
    .torrent-widget { cursor: pointer; }
    
    
    .info-box-icon img { 
        height: 111px; 
        width: 83px; 
        vertical-align: top !important; 
        border-radius: 2px 0 0px 2px;   
    }
    .info-box-icon { height: 111px; width: 83px; line-height: 111px; } 
    
    .info-box-content {
        margin-left: 83px;   
        height: 111px;
    }
    
    .widget-synopsis { 
        margin: 3px 0px;
        overflow: hidden;
    }
    
    .widget-control {
        margin-left: -50px;    
    }
    
    .widget-title {
        height: 23px;
        margin-right: 50px;
    }
    
    .progress {
        width: 100%;     
        margin-bottom: 0px;
    }
    
    .text-overflow {
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-all;
        white-space: nowrap;
    }
    
    .content-widget {
        display: bloc;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;  
        
        height: 60px;
        line-height: 18px;
        overflow: hidden;
    }
    
    .text-lighter { color: #a6a6a6; }
    .small-text { font-size: 0.85em; }
    
    .box-footer { padding: 4px 10px; } 
    .clearfix { height: 0px; }
    
    .to-footer { line-height: 30px; }
}

.torrent-preview {
    .err-margin { margin-top: 10%; margin-bottom: 10%; }
}

.trailer-box { min-height: 350px; }

.torrent-files.first { margin: 0px }
.torrent-files {
    margin-left: 20px;
    margin-top: 5px; 
    
    .fa { width: 18px; text-align: center; }
    
    .progress.xxs { margin-bottom: 5px; }
    
    .completed { border-bottom: 1px solid #F5F5F5; margin-bottom: 4px; }
}

.head-filters {
    background-color: #fff;
    overflow: none;
    border-bottom: 1px solid #d2d6de;
    padding: 5px 15px;
    
    h4 { margin: 5px 0px 3px 0px; }
    
    .filter {
        cursor: pointer;
        display: inline-block;
        padding: 6px 12px;
        color: #333;
        font-size: 14px;
        margin: 2px 3px;
    }
    
    .filter.disabled { opacity: 0.65; }
    
    .filter.enabled {
        border-radius: 3px;
        box-shadow: inset 0px 2px 6px #ccc;
        background-color: #f8f8f8;
    }
}

.white { color: #fff; }
.user-panel .progress {
    margin-bottom: 0px;
}
.user-panel .progress-group { margin-bottom: 10px; }

.layout-boxed, .wrapper, .content-wrapper { min-height: 100vh !important; }



/** GALLERIE **/

.tdgal {
    width: 100%;
    -webkit-perspective: 1100px;
    -moz-perspective: 1100px;
    -o-perspective: 1100px;
    perspective: 1100px;
    
    padding: 50px 0px;
    
    position: relative;
    overflow: hidden;
    
    background: rgb(0,0,0); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(23,84,125,1) 70%, rgba(3,21,33,1) 70%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(70%,rgba(23,84,125,1)), color-stop(70%,rgba(3,21,33,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(23,84,125,1) 70%,rgba(3,21,33,1) 70%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(23,84,125,1) 70%,rgba(3,21,33,1) 70%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(23,84,125,1) 70%,rgba(3,21,33,1) 70%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(23,84,125,1) 70%,rgba(3,21,33,1) 70%,rgba(0,0,0,1) 100%); /* W3C */
}

.tdlabel {
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    
    background-color: rgba(255, 255, 255, 0.15);
    font-size: 30px;
    
    text-shadow: 0px 0px 5px #000;
    text-align: center;
    overflow: hidden;
    
    
    .text {
        line-height: 50px;
        color: #fff;
        position: relative;
        float: left;
        
    }
    
    
}

.tdvp {
    height: 100%;
    width: 100%;
    position: absolute;
    
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;

    .element {
        width: 20%;
        cursor: pointer;
        
        position: absolute;
        top: 0px;
        left: 0px;
        
        /** anime le shadom & les transition pour les deplacements **/
        -webkit-transition: -webkit-transform 1s, -webkit-box-shadow 0.3s ease-in;
           -moz-transition: -moz-transform 1s, -moz-box-shadow 0.3s ease-in;
             -o-transition: -o-transform 1s, -o-box-shadow 0.3s ease-in;
                transition: transform 1s, box-shadow 0.3s ease-in;
        
        /**
        * face cachée de la lune
        **/
        .back { 
            text-align: center;
            .fa {
                @keyframes arrow-anim {
                    0% {}
                    10% {
                        transform: rotateZ(0deg)}
                    25% {
                        transform: rotateZ(25deg)
                    }
                    30% {
                        transform: rotateZ(-25deg)
                    }
                    35% {
                        transform: rotateZ(25deg)
                    }
                    40% {
                        transform: rotateZ(-25deg)
                    }
                    50% {
                        transform: rotateZ(0deg)
                    }
                    100% {
                    }
                }
                
                font-size: 110px;
                text-align: center;
                /**
                * 75% => (je prends la largeur 100% * leRatio de l'image (1.333) / 2 - fontSize / 2 - translationY(quand on a le hover le leve le div de 10px 
                **/
                margin-top: calc(~"75% - 70px");
                color: #00C0EF;
                text-shadow: 0px 0px 12px #000;
            }
            
            background-color: rgba(0, 0, 0, 0.5);
            position: relative;
            top: -100%;
           
            -webkit-transform: rotateY(-180deg);
               -moz-transform: rotateY(-180deg);
                 -o-transform: rotateY(-180deg);
                    transform: rotateY(-180deg); 
                    
            -webkit-backface-visibility: hidden;
               -moz-backface-visibility: hidden;
                 -o-backface-visibility: hidden;
                    backface-visibility: hidden;
        }
        
        .image { 
            background-position: center;
            background-color: transparent;
            background-size: cover;
            background-repeat: no-repeat;   
        }
        
        /**
        * le transition pour animer le truc qui s'envolle
        **/
        .image, .mirror, .shadow {
            width: 100%;
            height: 100%;
            
            -webkit-transition: -webkit-filter 0.3s ease-in, -webkit-transform 0.3s ease-in;
               -moz-transition: -moz-filter 0.3s ease-in, -moz-transform 0.3s ease-in;
                 -o-transition: -o-filter 0.3s ease-in, -o-transform 0.3s ease-in;
                    transition: filter 0.3s ease-in, transform 0.3s ease-in;
        }
        
        .mirror {
            background-position: center;
            background-color: transparent;
            background-size: cover;
            background-repeat: no-repeat;   
        }
        
        /** j'rotate le shadow, parce que au :hover j'avais pas envie de faire une déclaration de plus uniquement pour le shadow **/
        .mirror, .shadow {
            -webkit-transform: rotateX(180deg);
               -moz-transform: rotateX(180deg);
                 -o-transform: rotateX(180deg);
                    transform: rotateX(180deg);
        }
        
        .shadow { 
            position: relative;
            top: -100%;
                        
            background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.6) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0.6))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0.6) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0.6) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0.6) 100%); /* IE10+ */
            background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0.6) 100%); /* W3C */       
        }
        
        /** transition pour la backface **/
        .front, .back {
            -webkit-transition: -webkit-transform 0.3s ease-in;
               -moz-transition: -moz-transform 0.3s ease-in;
                 -o-transition: -o-transform 0.3s ease-in;
                    transition: transform 0.3s ease-in;
        }
    }
    
    .element.focus { cursor: default; }
    
    .element:hover {
        
        .image {
            -webkit-box-shadow: 0px 0px 10px 2px #00c0ef;
               -moz-box-shadow: 0px 0px 10px 2px #00c0ef;
                 -o-box-shadow: 0px 0px 10px 2px #00c0ef;
                    box-shadow: 0px 0px 10px 2px #00c0ef;
        
            -webkit-transform: translateY(-10px);
               -moz-transform: translateY(-10px);
                 -o-transform: translateY(-10px);
                    transform: translateY(-10px);
        }
        
        /**
        * on est a l'envers hein
        **/
        .mirror, .shadow {
            -webkit-transform: rotateX(180deg) translateY(-10px);
               -moz-transform: rotateX(180deg) translateY(-10px);
                 -o-transform: rotateX(180deg) translateY(-10px);
                    transform: rotateX(180deg) translateY(-10px);
        }
    }
    
    .element.focus.link:hover {
        cursor: pointer;
        
        /** le back se retourne **/
        .back {   
            -webkit-transform: translateY(-10px);
               -moz-transform: translateY(-10px);
                 -o-transform: translateY(-10px);
                    transform: translateY(-10px);
        
            .fa {
                animation-name: arrow-anim;
                animation-duration: 5s;
                animation-iteration-count: infinite;
                animation-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
            }
        }
        
        /** on inverse le front  **/
        .front {
            -webkit-transform: rotateY(180deg);
               -moz-transform: rotateY(180deg);
                 -o-transform: rotateY(180deg);
                    transform: rotateY(180deg); 
        }
        
        .mirror, .shadow {
            -webkit-transform: rotateX(180deg) translateY(-100%);
               -moz-transform: rotateX(180deg) translateY(-100%);
                 -o-transform: rotateX(180deg) translateY(-100%);
                    transform: rotateX(180deg) translateY(-100%);
        }
        
        .image { 
            -webkit-filter: blur(2px);
               -moz-filter: blur(2px);
                 -o-filter: blur(2px);
                    filter: blur(2px);
        }           
            
    }
    
    /*
    .element.prev-first {
      -webkit-transform: rotateY( 60deg );
         -moz-transform: rotateY( 60deg );
           -o-transform: rotateY( 60deg );
              transform: rotateY( 60deg );
    }
    
    .element.next-first {
      -webkit-transform: rotateY( -60deg );
         -moz-transform: rotateY( -60deg );
           -o-transform: rotateY( -60deg );
              transform: rotateY( -60deg );
    }
    
    .element.next-first {
        
    }

    .element.focus {
        
    }*/
}


@import "modal.less";
@import "gallery.less";