ul {
    margin-bottom: 0px;   
}
.allwidth { width: 100%; }

.layout-boxed {
    background: #EAF0F4 !important;
}

[translate-cloak], [ng-cloak] {
    display: none;
}

.torrent-uploads .box-body {
    min-height: 100px;
}

.torrents-up-status {    
    border-width: 1px 1px 1px 5px;
    border-color: #eee;
    border-style: solid;    
}

.torrents-up-status .close-topright {
    position: relative;
    top: -18px;
    right: -7px;
}

.torrents-up-status .box-cancel {
    height: 0px;
    width: 0px;
    overflow: visible;
}

.torrent.nomargin { margin-bottom: 0px; }

.torrent {
    min-height: 111px !important;
     
    .info-box-icon img { 
        height: 111px; 
        width: 83px; 
        vertical-align: top !important; 
        border-radius: 2px 0 0px 2px;   
    }
    .info-box-icon { height: 111px; width: 83px; line-height: 111px; } 
    
    .info-box-content {
        margin-left: 83px;   
    }
    
    .progress {
        width: 100%;    
        margin-bottom: 0px;
    }
    
    .text-overflow {
        text-overflow: ellipsis;
        word-break: break-all;
        overflow: hidden;
        white-space: nowrap;
    }
    
    .text-lighter { color: #a6a6a6; }
    .small-text { font-size: 0.85em; }
    
    .box-footer { padding: 4px 10px; } 
    .center-footer { width: 222px; display: block; margin: 0 auto; }
    .clearfix { height: 0px; }
}

.torrent-preview {
    .err-margin { margin-top: 10%; margin-bottom: 10%; }
}

.trailer-iframe { height: 350px; }