.layout-boxed {
    background: #EAF0F4 !important;
}

[translate-cloak], [ng-cloak] {
    display: none;
}

.torrents-up-status .close-topright {
    position: relative;
    top: -20px;
    right: -30px;
}