
.video-player {
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 9999;
    width: 30vw;
        
    .box { margin-bottom: 0px;}
    .box-title { 
        display: inherit; 
        margin-right: 20px;
    }
    video {
        width: 100%;
    }
}


detached-video-player video {
    width: 100%;
}

.thumbnail-container { opacity: 0.8 !important; }