<section class="head-filters">
  <h4>{{ 'FILTERS' | translate }}&nbsp<i class="fa fa-filter"></i></h3>
    
  <filter-button ng-repeat="(name, data) in filters | orderDefault:false" name="data.name" data="data"></filter-button>
       
</section>

<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
      {{ 'TORRENTS_LIST' | translate }}
  </h1>
</section>

<!-- Main content -->
<section class="content" ng-controller="SearchController as searchCtrl">
    <div infinite-scroll="addElementsShown()" 
         infinite-scroll-distance="0.7">
        <div class="box box-solid torrent" 
            ng-repeat="torrent in torrents | filter:torrentsComparator | filter:filtersComparator | orderBy:'-createdAt' | limitTo:elementsShown track by torrent.syncTag" 
            ng-controller="WidgetController"
            torrent-display>
        </div>
    </div>
</section><!-- /.content -->