<section class="head-filters">
  <h4>{{ 'FILTERS' | translate }}</h3>
  
  <div>
    <filter-button ng-repeat="(name, data) in filters | tags:{removable:false} | orderDefault:false" name="data.name" data="data"></filter-button>
    <!-- search form -->
    <div class="has-feedback pull-right">
        <input type="text" ng-model="search" ng-model-options="{debounce: 300}" class="form-control input-md" placeholder="{{ 'SEARCH_TORRENT_PLACEHOLDER' | translate }}">
        <span class="glyphicon glyphicon-search form-control-feedback"></span>
    </div>
    <!-- /.search form -->
  </div>
  <div>
      <filter-button ng-repeat="(name, data) in filters | tags:{removable:true} | orderDefault:false" name="data.name" data="data"></filter-button>
  </div>
</section>

<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
      {{ 'TORRENTS_LIST' | translate }}
  </h1>
</section>

<!-- Main content -->
<section class="content">
    <div infinite-scroll="addElementsShown()" 
         infinite-scroll-distance="0.7">
        <div class="box box-solid torrent" 
             ng-repeat="torrent in torrents | filter:myTorrentsFilter | filter:torrentsComparator | filter:filtersComparator | orderBy:'-createdAt' | limitTo:elementsShown as results track by torrent.syncTag" 
             torrent-display="torrent">
        </div>
        <div class="row" ng-show="loading">
            <div class="col-xs-6 col-xs-offset-3">
                <div class="box box-default err-margin">
                    <div class="box-header with-border">
                    <h3 class="box-title">{{ 'LOADING' | translate }}</h3>
                    </div>
                    <div class="box-body">
                        {{ 'RETRIEVING_DATA' | translate }}
                    </div>
                </div>
            </div>
        </div>        
        <div class="callout callout-info transition fade" ng-show="results.length <= 0 && !loading">
            <h4>{{ 'NO_RESULTS_FOUND' | translate }}</h4>
            <p>{{ 'RETRY_LATER'|translate }}</p>
        </div>
    </div>
</section><!-- /.content -->