<!-- gallery template -->
<script type="text/ng-template" id="/gallery/backface.html">
    <div class="fa fa-cloud-download"></div>
</script>
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
      {{ 'TOP_DOWNLOADS' | translate }}
  </h1>
</section>

<!-- Main content -->
<div class="content nolr-padding" ng-if="results.length > 0"> 
    <td-gal data="results"
            index="resultsIndex"
            height-ratio="1.333"
            on-focus="itemFocus"
            on-click="itemClick"
            template-url="/gallery/backface.html"
            class="gallery">
    </td-gal>
</div>

<div class="content" ng-if="results.length > 0 && torrent !== null">
    <div class="row">
        <div class="col-md-6" ng-if="torrent.trailer"><div class="box box-primary" ng-include="'/app/views/torrent/trailer.html'"></div></div>
        <div class="col-md-6"><div class="box box-primary" ng-include="'/app/views/torrent/preview.html'"></div></div>
    </div>
</div>

<div class="content">    
    <div class="callout callout-info" ng-if="noResults">
        <h4>{{ 'NO_RESULTS_FOUND' | translate }}</h4>
        <p>{{ 'RETRY_LATER'|translate }}</p>
    </div>
    
    <div class="row" ng-if="loading">
        <div class="col-xs-6 col-xs-offset-3">
            <div class="box box-default err-margin">
                <div class="box-header with-border">
                  <h3 class="box-title">{{ 'LOADING' | translate }}</h3>
                </div>
                <div class="box-body">
                    {{ 'RETRIEVING_DATA' | translate }}
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="error">
        <div class="col-xs-6 col-xs-offset-3 alert alert-danger alert-dismissable err-margin">
            <h4>{{ 'ERROR' | translate }}</h4>
            <p>{{ error | translate }}</p>
            <p class="text-center"><button class="btn btn-default" type="button" onclick="window.history.back()"><i class="fa fa-arrow-circle-left"></i>&nbsp;{{ 'BACK'|translate }}</button></p>
        </div>
        <div class="clearfix"></div>
    </div>
</section><!-- /.content --> 