
<div class="modal-dialog">
    <div class="modal-content box">
        <div ng-show="loading" class="overlay">
            <i class="fa fa-refresh fa-spin"></i>
        </div>

        <div class="modal-header">
            <button type="button" class="close ngdialog-close" data-dismiss="modal" aria-label="Close"></button>
            <h4 class="modal-title">{{ 'REMOVE_MODAL_TITLE' | translate }}</h4>
        </div>
        <div class="modal-body">
            <p translate="REMOVE_CONFIRM" translate-values="{name: torrent.name}"></p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" ng-click="closeThisDialog(1)" data-dismiss="modal">{{ 'CANCEL' | translate }}</button>
            <button type="button" class="btn btn-danger" ng-click="remove()">{{ 'DELETE' | translate }}</button>
        </div>
    </div><!-- /.modal-content -->
</div>